@model AzureMultiSite.Web.Admin.Models.HomeIndexViewModel
@{
	ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<ol>
	<li>Local Resource Path: @Model.LocalResourcePath</li>
	<li>Setting value: @Model.SettingValue</li>
</ol>
